[submodule "Assets/Packages/ProtagonistController"]
	path = Assets/Packages/ProtagonistController
	url = https://github.com/1157030004/protagonist-controller
[submodule "Assets/Packages/NPC AI"]
	path = Assets/Packages/NPC AI
	url = https://github.com/1157030004/NPC-AI
